{{- with .Site.Params.favicon.color }}
    <link rel="apple-touch-icon" sizes="180x180" href="https://img.icons8.com/nolan/64/opened-folder.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://img.icons8.com/nolan/64/opened-folder.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://img.icons8.com/nolan/64/opened-folder.png">
    <link rel="manifest" href="{{"site.webmanifest" | relURL}}">
    <link rel="mask-icon" href="https://img.icons8.com/nolan/64/opened-folder.png">
    <link rel="shortcut icon" href="https://img.icons8.com/nolan/64/opened-folder.png">
    <meta name="msapplication-TileColor" content="{{.msapplication}}">
    <meta name="theme-color" content="{{.theme}}">
{{ end }}
